.contenido {
    display: grid;
    gap: 5rem;
}

@media (min-width: 768px) {
    .contenido {
        grid-template-columns: 3fr 2fr;
    }
}

.carrito {
    padding: 3rem;
}

.resumen {
background-color: #e8e7e7;
}